.greetingContainer {
  margin: 100px auto;
}

.greeting {
  font-weight: 600;
  text-align: center;
}

@media (min-width: 745px) {
  .greetingContainer {
    margin: 150px auto;
  }

  .greeting {
    font-size: 32px;
  }
}

@media (min-width: 1024px) {
  .greetingContainer {
    margin: 200px auto;
  }

  .greeting {
    font-size: 42px;
  }
}
