.profileContainer {
  width: 305px;
  margin: 0 auto;
}

.profileForm {
  background-color: var(--profile-color);
  border-radius: 20px;
  margin-bottom: 100px;
  padding: 40px;
  color: var(--light-color);
}

.profileTitleWrapper {
  display: flex;
  align-items: center;
}

.profileIcon {
  width: 40px;
  height: 40px;
}

.profileTitle {
  font-weight: 600;
}

.profileContent {
  display: flex;
  flex-direction: column;
}

.customerEmailTitle {
  font-size: 16px;
  font-weight: 600;
  margin: 20px 0 0 0;
}

.customerEmail {
  margin: 5px 0 20px 0;
}

.changeEmailLabel {
  font-weight: 600;
}

.changeEmailInput {
  width: 220px;
  height: 40px;
  margin: 5px 0;
  border-radius: 5px;
  border: 1px solid var(--dark-color);
}

.profileButtonsWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.changeEmailButton {
  width: 130px;
  height: 40px;
  background-color: var(--light-button-color);
  border-radius: 10px;
  border: none;
  font-size: 16px;
  font-weight: bold;
  color: var(--dark-color);
  margin: 10px 0;
}

.logoutButton {
  width: 130px;
  height: 40px;
  background-color: var(--light-button-color);
  border-radius: 10px;
  border: none;
  font-size: 16px;
  font-weight: bold;
  color: var(--dark-color);
}

@media (min-width: 745px) {
  .profileContainer {
    width: 620px;
  }

  .profileForm {
    margin-bottom: 150px;
    padding: 60px;
  }

  .profileIcon {
    width: 60px;
    height: 60px;
  }

  .profileTitle {
    font-size: 32px;
    margin-left: 10px;
  }

  .changeEmailInput {
    width: 220px;
  }

  .changeEmailButton {
    margin: 0 0 20px 0;
  }
}

@media (min-width: 1024px) {
  .profileContainer {
    width: 720px;
  }

  .profileForm {
    margin-bottom: 200px;
    padding: 80px;
  }

  .profileTitle {
    font-size: 42px;
    margin-left: 20px;
  }

  .customerEmailTitle {
    font-size: 20px;
    margin: 20px 0 0 0;
  }

  .customerEmail {
    margin: 5px 0 40px 0;
    font-size: 20px;
  }

  .changeEmailLabel {
    font-size: 20px;
  }

  .changeEmailInput {
    width: 280px;
    margin: 10px 0;
  }

  .profileButtonsWrapper {
    flex-direction: row;
    margin-top: 10px;
  }

  .logoutButtonWrapper {
    display: flex;
    width: 400px;
    justify-content: flex-end;
    align-items: center;
  }

  .changeEmailButton {
    width: 150px;
    height: 60px;
    font-size: 20px;
    margin: 0;
  }

  .logoutButton {
    width: 150px;
    height: 60px;
    font-size: 20px;
  }
}
