button {
  all: unset;
  cursor: pointer;
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  color: var(--white);
  transition: 0.3s;
}

.shop-button {
  background-color: var(--green);
  padding: 10px 20px;
  border-radius: 20px;
  border: 1px transparent;
  text-align: center;
}

.add-to-cart-button {
  background-color: var(--green);
  color: var(--white);
  padding: 10px;
  border-radius: 20px;
  border: 1px transparent;
  text-align: center;
}

.size-button {
  border: 1px solid var(--black);
  color: var(--black);
  padding: 10px;
  text-align: center;
  font-size: 14px;
}

.size-selected-button {
  border: 1px solid var(--black);
  color: var(--white);
  padding: 10px;
  text-align: center;
  font-size: 14px;
  background-color: var(--black);
}

.clear-cart-button {
  background-color: var(--lightgrey);
  color: var(--darkgrey);
  padding: 10px;
  border-radius: 20px;
  font-size: 12px;
  text-align: center;
}

/* hover states */

.shop-button:hover,
.add-to-cart-button:hover,
.clear-cart-button:hover {
  background-color: var(--black);
  color: var(--white);
}

/* disabled states */

.add-to-cart-button:disabled {
  background-color: var(--lightgrey);
  color: var(--darkgrey);
}
