.singleproduct-page {
  max-width: 100vw;
  margin: 20px;
}

.product-wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.image-container {
  width: 100%;
}

.product-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.product-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.ssp-delivery {
  background-color: var(--white);
}

.size-button-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  gap: 5px;
}

.size-button {
  border: 1px solid var(--black);
  color: var(--black);
  padding: 10px;
  text-align: center;
}

.add-to-cart-button {
  background-color: var(--green);
  color: var(--white);
  padding: 10px;
  border-radius: 20px;
  border: 1px transparent;
  text-align: center;
}
