.bm-burger-button {
  position: absolute;
}

.hamburger-icon-image {
  width: 29px;
}

.bm-menu {
  background: #ffffff;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
  margin-top: 44px;
  width: 100%; /* Increase the width of the menu */
  position: fixed;
  left: 0;
}

.bm-menu-item {
  /* display: inline-block; */
  color: #000000;
  margin-bottom: 10px;
}

.bm-menu-item:hover {
  color: white;
}

.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* .bm-cross {
  background: #bdc3c7;
} */

.bm-item-list {
  color: #000000;
  /* position: fixed; */
  /* margin-top: 118px; */
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
  margin-top: 70px;
  left: 0;
}

.menu-categories {
  list-style-type: none;
}

.menu-categories li {
  margin-bottom: 20px;
}

@media (min-width: 668px) {
  .bm-menu {
    width: 50%;
  }

  .bm-overlay {
    margin-top: 74px;
  }
}

@media (min-width: 1024px) {
  .hamburger-icon-image {
    display: none;
  }

  .bm-menu {
    display: none;
  }

  .bm-overlay {
    display: none;
  }
}
