.bm-burger-button {
  position: absolute;
}

.hamburger-icon-image {
  width: 29px;
  margin: -10px 0 0 20px;
}

.cross-icon-image {
  width: 29px;
}

.bm-menu {
  background: #ffffff;
  padding: 50px 20px 0;
  font-size: 16px;
  margin-top: 44px;
  width: 100%; /* Increase the width of the menu */
  position: fixed;
  left: 0;
}

.bm-menu-item:hover {
  color: white;
}

.bm-cross-button {
  height: 29px;
  width: 29px;
  left: 20px;
}

.bm-item-list {
  color: var(--black);
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
  margin-top: 56px;
  left: 0;
}

.menu-categories {
  list-style-type: none;
}

.menu-categories li {
  margin-bottom: 40px;
}

@media (min-width: 668px) {
  .bm-menu {
    width: 50%;
  }

  .bm-overlay {
    margin-top: 60px;
  }
}

@media (min-width: 1024px) {
  .hamburger-icon-image {
    display: none;
  }

  .cross-icon-image {
    display: none;
  }

  .bm-menu {
    display: none;
  }

  .bm-overlay {
    display: none;
  }
}
