.hamburger-icon-image {
  width: 29px;
}

.bm-burger-bars {
  background: #373a47;
}

.bm-menu {
  background: #b8b7ad;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

.bm-menu-item {
  display: inline-block;
  color: #d1d1d1;
  text-decoration: none;
  margin-bottom: 10px;
}

.bm-menu-item:hover {
  color: white;
}

.bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-cross {
  background: #bdc3c7;
}

.bm-item-list {
  color: #b8b7ad;
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

@media (min-width: 1024px) {
  .hamburger-icon-image {
    display: none;
  }
}
