.nav-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  width: 100%;
}

.hamburger-button {
  justify-self: start;
}

.hamburger-menu-image {
  height: 30px;
  width: 30px;
}

.nav-logo {
  width: 80px;
  justify-self: center;
}

.nav-logo img {
  width: 100%;
}

.nav-categories {
  display: none;
}

.nav-icons {
  justify-self: end;
}

.nav-icons img {
  width: 30px;
  height: 30px;
}

header button {
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
}

@media (min-width: 600px) {
  .nav-categories {
    display: flex;
    gap: 30px;
    list-style-type: none;
  }

  .hamburger-button {
    display: none;
  }
}
