.nav-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  margin: 20px 20px 0 20px;
}

.hamburger-menu-image {
  width: 24px;
  object-fit: contain;
}

.nav-logo {
  width: 90px;
  justify-self: center;
}

.nav-categories {
  display: none;
}

.nav-icons {
  justify-self: end;
}

.nav-icons img {
  width: 35px;
  object-fit: contain;
}

@media (min-width: 668px) {
  .nav-logo {
    width: 100px;
    justify-self: center;
  }

  .hamburger-menu-image {
    width: 26px;
  }
  .nav-icons img {
    width: 37px;
  }
}

@media (min-width: 1024px) {
  .nav-categories {
    display: flex;
    gap: 30px;
    list-style-type: none;
    text-transform: uppercase;
  }

  .hamburger-button {
    display: none;
  }
}
