.goToCartContainer {
  width: 305px;
  display: flex;
  flex-direction: column;
  margin: 100px auto 20px auto;
}

.goToCartWrapper {
  text-align: center;
}

.goToCartButton {
  width: 160px;
  height: 40px;
  background-color: var(--dark-button-color);
  color: var(--light-color);
  border-radius: 10px;
  border: none;
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.goToCartButton:hover {
  background-color: var(--dark-button-hover-color);
}

.goToCartText {
  line-height: 1.5;
  margin: 15px 0;
}

.arrowWrapper {
  display: flex;
  justify-content: flex-end;
}

.arrowIcon {
  height: 40px;
  transform: rotate(340deg);
}

@media (min-width: 745px) {
  .goToCartContainer {
    width: 600px;
    margin: 150px auto 40px auto;
    align-items: flex-end;
  }

  .goToCartWrapper {
    width: 305px;
  }
}

@media (min-width: 1024px) {
  .goToCartContainer {
    width: 840px;
    margin: 200px auto 60px auto;
  }

  .goToCartWrapper {
    width: 400px;
  }

  .goToCartButton {
    width: 180px;
    height: 60px;
    font-size: 20px;
  }

  .goToCartText {
    font-size: 20px;
  }

  .arrowIcon {
    width: 60px;
    height: 60px;
  }
}
