.questionContainer {
  width: 305px;
  display: flex;
  flex-direction: column;
  margin: 100px auto;
}

.questionTitle {
  line-height: 1.5;
  font-weight: 600;
  text-align: center;
}

.questionSectionWrapper {
  display: flex;
  flex-direction: column;
}

.questionImage {
  height: 305px;
  border-radius: 5px;
  object-fit: cover;
}

.question {
  font-size: 16px;
  font-weight: 600;
  padding: 0;
  margin: 12px 0 6px 0;
}

.answer {
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

@media (min-width: 745px) {
  .questionContainer {
    width: 610px;
    margin: 150px auto;
  }

  .questionTitle {
    font-size: 32px;
  }

  .questionSectionWrapper {
    flex-direction: row;
  }

  .questionImage {
    height: 325px;
    margin-right: 12px;
    width: 240px;
  }

  .question {
    padding: 0;
    margin: 0 0 6px 0;
    line-height: 1.5;
    width: 350px;
  }

  .answer {
    margin: 0 0 12px 0;
    width: 350px;
  }
}

@media (min-width: 1024px) {
  .questionContainer {
    width: 840px;
    margin: 200px auto;
  }

  .questionTitle {
    font-size: 42px;
  }

  .questionImage {
    width: 400px;
    height: 430px;
  }

  .question {
    width: 420px;
    font-size: 20px;
  }

  .answer {
    width: 420px;
    font-size: 20px;
  }
}
