.requestContainer {
  width: 305px;
  display: flex;
  flex-direction: column;
  margin: 30px auto;
  align-items: center;
}

.sunriseIcon {
  width: 128px;
}

.requestTitle {
  margin: 15px 0;
  font-weight: 600;
}

.requestText {
  margin: 0 0 30px 0;
  line-height: 1.5;
  text-align: center;
}

.requestForm {
  display: flex;
  flex-direction: column;
}

.requestLabel {
  width: 305px;
  display: flex;
  flex-direction: column;
}

.requestInput {
  height: 40px;
  border: 1px solid var(--dark-color);
  border-radius: 5px;
  margin: 12px 0;
}

.requestInputBig {
  height: 70px;
  border: 1px solid var(--dark-color);
  border-radius: 5px;
  margin: 12px 0;
}

.sendFormButtonWrapper {
  display: flex;
  justify-content: flex-end;
}

.sendFormButton {
  width: 130px;
  height: 40px;
  border-radius: 10px;
  border: none;
  background-color: var(--dark-button-color);
  color: var(--light-color);
  font-size: 16px;
  font-weight: bold;
}

.sendFormButton:hover {
  background-color: var(--dark-button-hover-color);
}

@media (min-width: 745px) {
  .requestContainer {
    width: 610px;
    margin: 50px auto;
  }

  .requestTitle {
    margin: 24px 0;
    font-size: 32px;
  }

  .requestText {
    margin: 0 0 50px 0;
  }

  .requestForm {
    width: 305px;
  }

  .requestInput {
    margin: 20px 0;
  }

  .requestInputBig {
    margin: 20px 0;
  }
}

@media (min-width: 1024px) {
  .requestContainer {
    width: 640px;
    margin: 70px auto;
  }

  .sunriseIcon {
    width: 160px;
  }

  .requestTitle {
    font-size: 42px;
  }

  .requestText {
    margin: 0 0 50px 0;
    font-size: 20px;
  }

  .requestForm {
    display: flex;
    flex-direction: column;
    width: 640px;
  }

  .requestLabel {
    width: 640px;
    font-size: 20px;
    margin: 10px 0;
  }

  .requestInput {
    height: 60px;
    margin: 20px 0;
  }

  .requestInputBig {
    height: 100px;
    margin: 20px 0;
  }

  .sendFormButton {
    width: 150px;
    height: 60px;
    font-size: 20px;
  }
}
