.hero {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  aspect-ratio: 5 / 9;
  overflow: hidden;
  max-height: calc(100dvh - 64px);
}

.hero-image {
  width: 100%;
  object-fit: cover;
  height: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
}

.hero-text {
  position: relative;
  z-index: 2;
  text-align: center;
  color: black;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.hero-h1 {
  position: absolute;
  z-index: 3;
  top: 29%;
  text-align: center;
  color: black;
}

.hero-button {
  background-color: #00957f;
  padding: 10px 20px;
  border-radius: 20px;
  border: 1px transparent;
}

/* Media Queries for tablet */
@media screen and (min-width: 667px) {
  .hero-h1 {
    top: 30%;
  }
}

/* Media Queries for desktop */
@media screen and (min-width: 1024px) {
  .hero {
    aspect-ratio: 16 / 7;
  }

  .hero-h1 {
    top: 19%;
  }
}
