.footer {
  display: flex;
  background-color: var(--light-button-color);
  width: 100%;
  padding: 26px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.logoIcon {
  width: 70px;
  height: 70px;
}

.about {
  font-weight: 600;
  text-decoration: none;
  color: black;
}

.about:hover {
  text-decoration: underline;
}

@media (min-width: 745px) {
  .footer {
    padding: 40px;
  }
}

@media (min-width: 1024px) {
  .footer {
    padding: 65px;
  }

  .footerText {
    font-size: 20px;
  }

  .about {
    font-size: 20px;
  }
}
