.footer-container {
  padding: 60px 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.footer-wrapper {
  border-bottom: 1px solid var(--lightgrey);
  border-top: 1px solid var(--lightgrey);
  padding: 20px 20px;
}

.footer-categories li {
  list-style: none;
  padding: 5px 0;
}

.footer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  order: 2;
  padding: 20px 0;
}

.footer-logo-image {
  height: 40px;
  object-fit: contain;
}

@media (min-width: 668px) {
  .footer-wrapper {
    padding: 30px 30px;
  }

  .footer-logo {
    padding: 30px 0;
  }

  .footer-logo-image {
    height: 50px;
  }

  .footer-categories li {
    list-style: none;
    padding: 10px 0;
  }
}

@media (min-width: 1024px) {
  .footer-container {
    flex-direction: row;
    border-top: 1px solid var(--lightgrey);
    margin: 60px 0;
    justify-content: start;
  }

  .footer-logo {
    order: 0;
    padding-left: 50px;
    padding-right: 30px;
    display: flex;
    align-items: baseline;
  }

  .footer-wrapper {
    display: flex;
    flex-direction: row;
    border: none;
    gap: 150px;
    margin-left: auto;
    margin-right: auto;
  }

  .footer-logo-image {
    height: 60px;
    width: auto;
  }
}
