.new-arrivals-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 12px;
}

.new-arrivals-wrapper {
  position: relative;
}

.new-arrivals-wrapper button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Media Quieries for desktop*/
@media (min-width: 1024px) {
  .new-arrivals-container {
    grid-template-columns: 1fr 1fr;
  }
}
